* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif; }

body {
  background-color: #f0f0f0;
}

.container {
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  margin: 5px;
  width: 200px;
}

.form {
  margin: 20px 0;
}

.add-btn {
  padding: 10px 20px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.cardImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.card-name {
  font-size: 18px;
  margin: 5px 0;
}
.card-role {
  font-size: 14px;
  color: gray;
}

.card-bio {
  font-size: 15px;
  margin: 10px 0;
}
  
.card {
  width: 200px;
  padding: 20px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-button {
margin-top: 10px;
padding: 8px 20px;
border-radius: 20px;
border: none;
background: #000;
color: white;
cursor: pointer;
}

.card-button.following{
  background: white;
  color: white;
  border: 1px solid black;
}

.card-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px 0;
}

.card-icons a {
  color: #007bff;
  font-size: 20px;
  transition: 0.2s;
}

@media (max-width: 500px) {
  .card {
    width: 90%;
    padding: 15px;
  }

    .cardImage {
        width: 100px;
        height: 100px;
    }

    .card-name {
        font-size: 1.2em;
    }

    .card-role {
        font-size: 1em;
    }

    .card-button {
        padding: 8px 16px;
        font-size: 0.9em;
    }


}